body{
    align-content: center;
    background-color:rgb(235, 233, 198) ;
    color: rgb(49, 47, 47);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    text-align: center};